.analytics {
    display: flex;
    width: 100vw;
  }
  
.analytics_header{
    display: flex;
    flex-direction: column;
    padding-left: 88px;
    padding-top: 60px;
    
}
  
.analytics_header h5{
    font: normal normal bold 33px/47px Open Sans;
    color: #43425D;
    opacity: 1;
}
  
.analytics_header h4{
    font: normal normal normal 12px/47px Open Sans;
    letter-spacing: 0px;
    color: #43425D;
    opacity: 1;
}

.analytics_header h3{
    font: normal normal normal 20px/24px Inter;
    letter-spacing: 0px;
    color: #0B2257;
    opacity: 1;
}

.analytics_header h2{
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #817E7E;
    opacity: 1;
}

.analytics_center {
    display: flex;
    gap:30px;
    align-items: center;
}

.analytics_chart1{
    width: 450px;
    height: 420px;
    margin-left: 0px;
    margin-top: 10px;
    

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000029;
    border-radius: 15px;
    opacity: 1;
}

.analytics_chart2{
    width: 450px;
    height: 420px;
    margin-left: 0px;
    margin-top: 10px;
    

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000029;
    border-radius: 15px;
    opacity: 1;
}

.overall_rating_card{
    height: 420px;
    width: 450px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000029;
    border-radius: 15px;
    opacity: 1;
}
  