.dashboard {
    display: flex;
    flex-direction: column;
    padding-left: 314px;
    padding-top: 60px;
}

.dashboard_header{
  text-align: left;
  font: normal normal bold 33px/47px Open Sans, sans-serif;
  letter-spacing: 0px;
  color: #43425D;
  opacity: 1;
  padding-top: 60px;
  padding-left: 90px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px; /* Space between boxes and table */
    padding-top: 140px;
    padding-left: 90px;
    gap: 36px;
}

.box {
    display:flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: left; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    background-color: #FBFBFB;
    height: 160px;
    text-align: left;

    
    background: #FBFBFB 0% 0% no-repeat padding-box;
    box-shadow: 7px 7px 10px #0000000A;
    border-radius: 20px;
    opacity: 1;
    width: 350px;
}

.box h2 {
  font: normal normal normal 16px/27px Open Sans, sans-serif;
  letter-spacing: 0px;
  color: #43425D;
  opacity: 1;
  padding-left: 20px;
}

.box p {
  font: normal normal bold 29px/39px Open Sans, sans-serif;
  letter-spacing: 0px;
  color: #4D4F5C;
  opacity: 1;
  padding-left: 20px;
}

.dashboard_table{
  
}

table {
    border: none;
    margin-left: 100px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FBFBFB;
    width: 1400px
  }
  
  .table-header {
    font: normal normal bold 16px/27px Open Sans, sans-serif;
  letter-spacing: 0px;
  color: #63666A;
    color: #43425D;
    border: none;
  }
  
  table td:nth-child(2) {
    text-decoration: underline;
    width: 40%;
    border: none;
  }
  
  table th, table td {
    padding: 8px;
    text-align: left;
    font: normal normal normal 14px/27px Open Sans, sans-serif;
    letter-spacing: 0px;
    color: #43425D;
    opacity: 1;
    border: none;
  }
  
  table th {
    background-color: #DFC8F8;
    font-weight: bold;
    color: #63666A;
    border: none;
  }