.admin_dashboard {
    display: flex;
    width: 100vw;
  }
  
.dashboard_header{
    display: flex;
    flex-direction: column;
    padding-left: 88px;
    padding-top: 60px;
    
}
  
.dashboard_center {
    display: flex;
    gap:30px;
    align-items: center;
}

.dashboard_chart1{
    width: 1200px;
    height: 320px;
    margin-left: 0px;
    margin-top: 10px;
    

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000029;
    border-radius: 15px;
    opacity: 1;
}

