.learners1 {
    display: flex;
    width: 100vw;
}
  
.learners1_content{
    display: flex;
    flex-direction: column;
    padding-left: 88px;
    padding-top: 60px;

}

.learners1_header{
    font: normal normal bold 33px/47px Open Sans;
    color: #43425D;
    opacity: 1;
}

.Card{
    padding-top: 80px;
}