.reports {
    display: flex;
    width: 100vw;
}
  
.reports_content{
    display: flex;
    flex-direction: column;
    padding-left: 88px;
    padding-top: 60px;

}

.reports_header{
    font: normal normal bold 33px/47px Open Sans;
    color: #43425D;
    opacity: 1;
}

table {
    width: 100%;
    margin-left: 100px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FBFBFB;
    border: none;
  }
  
  .table-header {
    font-size: 33px;
    color: #43425D;
  }
  
  table td:nth-child(2) {
    text-decoration: underline;
    width: 40%;
  }
  
  table th, table td {
    padding: 8px;
    text-align: left;
    font: normal normal normal 14px/27px Open Sans;
    letter-spacing: 0px;
    color: #43425D;
    opacity: 1;
  }
  
  table th {
    background-color: #DFC8F8;
    font-weight: bold;
    color: #63666A;
  }