.tests1 {
    display: flex;
    width: 100vw;
    padding-left: 314px;
    padding-top: 60px;
}
  
.tests1_content{
    display: flex;
    flex-direction: column;
    padding-left: 88px;
    padding-top: 60px;

}

.Card{
    display: flex;
    width: 99vh;
    padding-top: 160px;
    justify-content: center;

    background: no-repeat padding-box;
    box-shadow: 0px 0px 0px #0000000A;
    border-radius: 2px;
    opacity: 1;

}

.tests1_header{
    font: normal normal bold 33px/47px Open Sans;
    color: #43425D;
    opacity: 1;
}