.tests1 {
    display: flex;
    flex-direction: column;
    padding-left: 314px;
    padding-top: 60px;
}

.tests1_header{
    display: flex;
    text-align: left;
    font: normal normal bold 33px/47px Open Sans, sans-serif;
    letter-spacing: 0px;
    color: #43425D;
    opacity: 1;
    padding-top: 60px;
    padding-left: 90px;
}

.tests1_card{
    margin-top: 190px;
    margin-left: 90px;

    display:flex;
    flex-direction: column; /* Arrange children in a column */
    height: 160px;
    width: 1330px;
    height: 296px;

    
    background: #FBFBFB 0% 0% no-repeat padding-box;
    box-shadow: 7px 7px 10px #0000000A;
    border-radius: 20px;
    opacity: 1;
}

.card_header{
    font: normal normal 600 24px/25px Open Sans, sans-serif;
    letter-spacing: 0px;
    color: #43425D;
    opacity: 1;
    padding-left: 30px;
    padding-top: 25px;
}

.card_header{
    padding-left: 30px;
    padding-top: 25px;
}

.card_label1{
    font: normal normal normal 16px/27px Open Sans, sans-serif;
    letter-spacing: 0px;
    color: #43425D;

    padding-left: 30px;
    padding-top: 10px;
}

.card_label2{
    font: normal normal 600 18px/25px Open Sans, sans-serif;
    letter-spacing: 0px;
    color: #43425D;

    padding-left: 30px;
    padding-top: 35px;
}

.card_buttons{
    display: flex;
    padding-left: 30px;
    padding-top: 40px;
    gap:25px;
    justify-content: center; /* Center the buttons horizontally */
}

.card_button_start {
    padding: 10px 20px;
    font: normal normal normal 16px/27px Open Sans, sans-serif;
    color: white;
    background-color: #5F249F; /* Purple color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.card_button_start:hover {
    background-color: #5a54d6; /* Darker purple on hover */
}

.card_button_cancel {
    padding: 10px 20px;
    font: normal normal normal 16px/27px Open Sans, sans-serif;
    color: white;
    background-color: #63666A; /* Gray color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.card_button_cancel:hover {
    background-color: #5a6268; /* Darker gray on hover */
}