@tailwind base;
  @tailwind components;
  @tailwind utilities;

  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
  
  .large {
    top: 117px;
    left: 119px;
    width: 176px;
    height: 41px;
    font-size: 41px;
    font-weight: bold;
  }
  
  .medium {
    top: 163px;
    left: 121px;
    width: 538px;
    height: 27px;
    font-size: 27px;
  }
  
  .small {
    top: 227px;
    left: 121px;
    width: 459px;
    height: 22px;
    font-size: 22px;
    font-style: italic;
  }
  
  
  .dash-image{
    width: 1150px;
    height: 95vh;
    
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
   
  }
  
  .charts-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .inputText{
    height: 500%;
  }
  
  /* Reset some default styles */
  .page-layout-custom,
  .page-layout-custom ul {
    margin: 0;
    padding: 0;
  }
  
  .page-layout-custom h2 {
    text-align: left;
    font: normal bold 22px/23px 'Open Sans', sans-serif;
    letter-spacing: 1.21px;
    color: #63666A;
    font-size: 20px;
  }
  
  .page-layout-custom button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  /* Header */
  .header-custom {
    background-color: #D9D9D6;
    height: 84px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .account-bar-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .account-title-custom {
    margin-right: 10px;
  }
  
  .logo-custom img {
    width: 35px;
    height: 22px;
    padding-top: 4px;
  }
  
  .buttons-container-custom {
    display: flex;
    align-items: center;
  }
  
  .notification-button-custom,
  .message-button-custom,
  .account-dropdown-custom {
    margin-left: 10px;
  }
  
  .notification-button-custom button,
  .message-button-custom button,
  .account-button-custom button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .notification-button-custom img,
  .message-button-custom img,
  .account-button-custom img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  
  .account-name-custom {
    margin-left: 10px;
    font: normal normal normal 15px/23px 'Open Sans', sans-serif;
    color: #4D4F5C;
  }
  
  .account-dropdown-custom {
    position: relative;
  }
  
  .account-dropdown-custom .dropdown-arrow-custom {
    margin-right: 5px;
    font-size: 30px;
  }
  
  .dropdown-content-custom {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
  }
  
  .dropdown-content-custom a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-custom a:hover {
    background-color: #f1f1f1;
  }
  
  .account-dropdown-custom:hover .dropdown-content-custom {
    display: block;
  }
  
  /* Sidebar */
  .sidebar-custom {
    background-color: #5F249F;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sidebar-custom ul {
    list-style-type: none;
    padding-top: 10px;
  }
  
  .sidebar-custom ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  
  .sidebar-logo-custom {
    width: 20px;
    height: 17px;
    margin-right: 10px;
    border: 0.1px solid #5F249F;
  }
  
  .sidebar-custom ul li a {
    color: #A5A4BF;
    font: normal normal normal 16px/22px 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
  }
  
  .sidebar-custom ul li:hover {
    background-color: #421a6b;
  }
  
  .sidebar-custom a:hover {
    color: #ffffff;
    font-weight: bold;
  }
  
  .sidebar-content-custom {
    width: 100%;
  }
  
  /* Content */
  .content-custom {
    margin-left: 20%;
    padding: 20px;
  }
  
  .table-custom {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FBFBFB;
  }
  
  .table-header-custom {
    font-size: 33px;
    color: #43425D;
  }
  
  .table-custom td:nth-child(2) {
    text-decoration: underline;
    width: 40%;
  }
  
  .table-custom th,
  .table-custom td {
    padding: 8px;
    text-align: left;
    font: normal normal normal 14px/27px 'Open Sans', sans-serif;
    color: #43425D;
  }
  
  .table-custom th {
    background-color: #DFC8F8;
    font-weight: bold;
    color: #63666A;
  }
  